h5, p{
    margin: 0;
}

h4{
    margin-bottom: 3px;
}

body{
    font-family: 'Montserrat', sans-serif;
}
header{
    text-align: center;
    background-color: rgb(140, 201, 223);
    border-radius: 5px;
}

header img{
    border-radius: 50%;
}

header h1{
    color: whitesmoke;
    font-size: 40px;
    font-weight: 100;
}

div{
    padding-left: 90px;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
section{
    background-color: rgb(233, 241, 247);
    font-size: smaller;
    border: 2px solid gray;
    border-radius: 5px;
    height: 450px;
    width: 30%;
}

article{
    margin: 10px;
}

ul li{
    margin: 30px;
}

#img{
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

h2{
    text-align: center;
}

p{
    text-align: justify;
}

div section:nth-child(2)
{ 
    order:1
}
